<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" th:fragment = "header">
    
    <head>
        <title th:text="${pageTitle}"></title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <style>
	ul#menu li {
    	display:inline;
    	margin: 5px;
	}
	</style>
    <body>
    	<h1 th:text="${pageTitle}"></h1>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">All Posts</a></li>
                <li><a href="/newpost">New Post</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
        <hr></hr>
    </body>
</html>
