<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<div th:replace = "base :: header"></div>

<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" th:value="${username}"/>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password"/>
            </td>
        </tr>
    </table>
    <div style="color: red" th:text="${error}"></div>
    <br></br>
    <input type="submit"/>
</form>

</html>