<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<div th:replace = "base :: header"></div>

<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" th:value="${username}"/>
                <span style="color: red">errors.username_errors</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password"/>
                <span style="color: red">errors.password_error</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password"/>
                <span style="color: red">errors.verify_error</span>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email (optional)</label></td>
            <td>
                <input name="email" type="email" th:value="${email}"/>
                <span style="color: red">errors.email_error</span>
            </td>
        </tr>
    </table>
    <input type="submit"/>
</form>

</html>
